.container-home-page {
  background-color: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  user-select: none;
}

.container-btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 600px) {
  .container-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #ccccff;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
}

.title {
  font-size: 40px;
  text-align: center;
}

.btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #ccccff;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  border-color: #ccccff;
  background-color: #ffc107;
  box-shadow: 3px 3px 3px 3px grey;
}
